header{
    height: 70px;   
}

html, body {
    height: 100%;
}

main{
   min-height: calc( 100vh - 70px );
   height: 100%;   
}

.bg-img{
    background-image: url("../img/sidebar-bg.png");   
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.badge-custom{
    background-color: #155CBA;
}

.img-card{
    max-width: 30px;
}

.img-fluid:hover{
    cursor: pointer;
}

td > .fa-solid:hover{
    cursor: pointer;
    background-color: gray;
}

.hov-side:hover{
    cursor: pointer;
    background-color: lightgray;
}

.badge:hover{
    cursor: pointer;
    background-color: #1c4181;
}

tr:hover{
    cursor: pointer;
    background-color: lightgray;
}
