.all-container{
    height: 100vh;
}

header{
    height: 70px;   
}

main{
    height: calc( 100vh - 70px );
}

.bg-img{
    background-image: url("../img/sidebar-bg.png");   
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.badge-custom{
    background-color: #155CBA;
}

